{% extends "base.html" %}

{% block head_title %}Email Confirmation Test{% endblock %}

{% block body_content %}
<h1>Email Confirmation Test</h1>
{% if user.is_authenticated %}
<p>Logged in as {{ user }}.</p>
<ul>
    <li><a href="/logout/">logout</a></li>
</ul>
<p>Your email addresses:</p>
<ul>
{% for emailaddress in user.emailaddress_set.all %}
    <li>{{ emailaddress.email }}
        {% if emailaddress.verified %}
        <span class="verified">verified</span>
        {% else %}
        <span class="unverified">unverified</span>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% else %}
<p>Not logged in.</p>
<ul>
    <li><a href="/signup/">signup</a></li>
    <li><a href="/login/">login</a></li>
</ul>
{% endif %}
{% endblock %}